:root {
    --primary-font: Roboto, sans-serif;
    
    --secondary-font: "raleway", sans-serif;

    --main-bgcolor: #FFFFFF;

    --bgcolor: #2F303A;

    --hcolor: #212121;

    --pcolor: #757575;

    --blue: #2196F3;

    --ourbgcolor: #F5F4FA;

  
}
ul {
    margin: 0;
    padding: 0;
}
body {
    background-color: var(--main-bgcolor);
    color: var(--pcolor);
    font-family: var(--primary-font);
    letter-spacing: 0.03em;
    font-size: 14px;
}
.container {
    margin-left: auto;
    margin-right: auto;
    width: 1600px;
    outline: 2px blueviolet;
    text-align: center;

}
.logo-head {
    margin-right: 93px;
    margin-left: 215px;
    margin-top: 24px;
    margin-bottom: 24px;

}
.list{
    margin: 0px;
}
.contacts:first-child{
    margin-left: 344px;
}
.contacts:nth-child(2) {
     margin-left: 50px;
}
.list .menu:not(:last-child) {
    margin-right: 50px;
}
.menu,
.contacts {
    margin: 32px 0;
}
.head-contact {
display: block;
}
.site-nav {
    display: flex;
}
.list {
    display: flex;
}
.link,
.site-nav__link,
.head-contact
 {
    text-decoration: none;
}
.head-contact {
    color: var(--pcolor);
}
.promo {
    outline: 15px violet;
    width: 1600px;
    display: flex ;
    flex-direction: column;
}
.promo, .foot {
    background-color: var(--bgcolor);
    
}
.promo-name {
   margin: 0;
   padding-top: 200px;
    padding-bottom: 30px;

}
.promo-button {
    padding: 0;

    margin-top: 30px;
    margin-bottom: 200px;
    margin-left: 692px;
    margin-right: 692px;
    width: 216px;
    
}

.promo-name,
.promo-button,
.card-name {
    letter-spacing: 0.06em;
}
.card-name {
    line-height: 2;
}

.promo-name {
   
        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        text-align: center;
        
        text-transform: uppercase;
        color: #FFFFFF;
 
}
.promo-button {
    color: var(--main-bgcolor);
        background-color: var(--blue);
        font-family: inherit;
        font-weight: 700;
        line-height: 1.88;
    
}
.promo-button:hover,
.promo-button:focus
{
    background-color: #188CE8;
}
.skills {
  background-color: violet;
padding: 94px 215px;

 }

.list-skills:not(:last-child) {
    margin-right: 30px;
}
.skls-ttl,
.skills-txt {
    text-align: left;
}
.work {
    background-color: red;
    margin: 0;
}
.work-title {
    margin: 0;
    padding-bottom: 50px;
}
.work-img:first-child
{
    padding-left: 215px;
}
    .work-img:last-child {
    padding-right: 215px; }

.work-img:not(:last-child) {
    margin-right: 30px;

 }
 
.list {
    list-style: none; 
}
.site-nav__link {
color: rgb(255, 255, 255);

}
.logo-head {
    color: #000000;
}
.logo-foot {
    color: #ffffff;
}
.logo-foot,
.logo-head {
    font-family: var(--secondary-font);
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 1.2;

}
.blue-logo {
    color: var(--blue);
}


.site-nav a:hover,
.foot a:hover,
.site-nav a:focus,
.foot a:focus
{
color: var(--blue);
}
.site-nav__link,
.head-contact {
    font-weight: 500;
    letter-spacing: 0.02em;
}
.site-nav__link {
        line-height: 1.14;
}
.head-contact {
        line-height: 1.14;
}
 .site-nav__link, 
 .title, 
 .card-name {
    color: var(--hcolor);
    font-size: 14px;
    
}
.none-display {
    display: none;
}

.team {
    background-color: var(--ourbgcolor);
    color: var(--hcolor);
        font-size: 16px;
}
.team-title {
    margin: 0;
    padding-top: 94px;
    padding-bottom: 50px;
}
.team-img {
    background-color: #ffffff;
    margin-bottom: 94px;
}

.team-img:not(:last-child) {
    margin-right: 30px;

}

.team-img:first-child {
   margin-left: 215px;
}

.team-img:last-child {
    margin-right: 215px;
}
.our-team {
    margin-top: 30px;
    margin-bottom: 10px;
}

[lang="en"] {
    font-size: 16px;
    line-height: 1.18;
    margin: 0;
    margin-bottom: 30px;

}

.title {
    line-height: 1.14;
    text-transform: uppercase;
}
.skills-txt {
    line-height: 1.71;
}
.title,
.card-name {
    font-weight: 700;
}
.card-name {
    font-size: 18px;
}
.button,
.description,
.promo-button
{
    font-size: 16px;
}
.description {
    line-height: 1.88;
}
.subtitle {
    color: var(--hcolor);
    font-size: 36px;
    line-height: 1.16;
    font-weight: 700;
    letter-spacing: 0.03em;
}
.button {
    color: var(--hcolor);
    background-color: #f5f4fa;
    font-weight: 500;
    font-family: var(--primary-font);
    line-height: 1.62;
}
.button:hover,
.button:focus {
    color: var(--main-bgcolor);
    background-color: var(--blue);
    
}
.button, .promo-button {
    cursor: pointer;
} 


.foot-contact {
    color: rgba(255, 255, 255, 0.6);
    line-height: 1.71;
}
.address {
    font-style: normal;
}
.map {
    color:rgb(255, 255, 255);
    line-height: 1.71;
    
}